version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: cbt_laravel_app
    volumes:
      - .:/var/www
    depends_on:
      - mysql
    networks:
      - laravel
    # Ports dihapus: App hanya perlu diakses oleh Nginx via internal network (port 9000)

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8081:80"  # <--- UBAH INI: Akses web nanti via http://IP_VPS:8081
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: db_cbt
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3307:3306" # <--- UBAH INI: Akses DB dari luar via port 3307 (Opsional)
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data: